<div class="container w-50">
  <%= form_with model: employee do |form| %>
    <%= render "error" %>
    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :first_name, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :last_name, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.text_field :last_name, class: "form-control" %><br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :email, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.text_field :email, class: "form-control" %><br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :age, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.number_field :age, min: 18, class: "form-control" %><br>
      </div>
    </div> 

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :no_of_order, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.number_field :no_of_order, min: 0, class: "form-control" %><br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :full_time_available, class: "form-check-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.radio_button :full_time_available, true, class: "form-check-input" %>True
        <%= form.radio_button :full_time_available, false, class: "form-check-input" %>False<br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :salary, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.text_field :salary, class: "form-control" %><br>
      </div>
    </div>

    <div class="w-25 m-auto">
      <%= form.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>
