<div class="d-flex justify-content-center align-items-start my-5">
  <%= render "search" %>
  <%= link_to "Filter", filtered_employees_path, class: "text-decoration-none text-light btn btn-info ms-2" %>
</div>
  <h1 class="text-center h1 mx-auto">Employees</h1>
<table class="table w-75 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>No of Order</th>
    <th>Full Time Availablity</th>
    <th>Salary</th>
    <th>Action</th>
  </tr>
  <% num = 1 %>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to num, employee %></td>
      <td><%= "#{employee.first_name} #{employee.last_name}" %></td>
      <td><%= employee.email %></td>
      <td><%= employee.age %></td>
      <td><%= employee.no_of_order %></td>
      <td><%= employee.full_time_available %></td>
      <td><%= employee.salary %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee), class: "text-decoration-none text-dark btn btn-warning me-2" %>
      <%= link_to "Destroy", employee_path(employee), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none text-light btn btn-danger" %></td>
    </tr>
    <% num += 1 %>
  <% end %>
</table>

<div class="text-center p-2">
  <%= link_to "New Employee", new_employee_path, class: "text-decoration-none text-light btn btn-info me-4" %>
  <%= link_to "Ten Employees", employees_path, class: "text-decoration-none text-light btn btn-info" %>
</div>
