<h1 class="text-center"> Home Controller </h1>
<p class="h3">Hello <%= @your_name %> from Simform</p>

<table class="table table-striped table-bordered table-hover w-25 text-center">
  <tr>
    <td>College Name:</td>
    <td><%= @College_name %></td>
  </tr>

  <tr>
    <td>Name:</td>
    <td><%= @your_name %></td>
  </tr>

  <tr>
    <td>DOB:</td>
    <td><%= @DOB %></td>
  </tr>

  <tr>
    <td>Hobbies:</td>
    <td><%= @Hobbies %></td>
  </tr>

  <tr>
    <td>Current Work:</td>
    <td><%= @Current_work %></td>
  </tr>
</table>
