<%= render "search" %>
<h1 class="text-center my-4">Events</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Category</th>
    <th>Action</th>
    <th>Comments</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.description %></td>
      <td><%= event.event_date %></td>
      <td><%= event.category.category_name %></td>
      <td><%= link_to 'Edit', edit_event_path(event), class: "text-decoration-none text-dark btn btn-warning me-2" %>
      <%= link_to "Destroy", event_path(event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none text-light btn btn-danger" %></td>
      <td><%= link_to 'Comments', event_comments_path(event.id), class: "text-decoration-none text-dark btn btn-info me-2" %></td>
    </tr>
  <% end %>
</table>

<div class="text-center p-2">
  <%= link_to "New Event", new_event_path, class: "text-decoration-none text-dark btn btn-info" %>
</div>
