<h1 class="text-center my-4">Customers</h1>

<div class="w-50 text-end mx-auto p-2">
  <%= link_to "New Customer", new_customer_path, class: "text-decoration-none text-light btn btn-info" %>
</div>

<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Action</th>
  </tr>
  <% @customers.each_with_index do |customer,inx| %>
    <tr>
      <td><%= link_to inx+1, customer %></td>
      <td><%= "#{customer.first_name} #{customer.last_name}" %></td>
      <td><%= customer.email %></td>
      <td><%= customer.phone_number %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer), class: "text-decoration-none text-dark btn btn-warning me-2" %>
      <%= link_to "Destroy", customer_path(customer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none text-light btn btn-danger" %></td>
    </tr>
  <% end %>
</table>


<br><br><br>

<h3 class="text-center"> Top Customer Filter </h3>
<table class="table table-info table-striped-columns w-25 text-dark mx-auto">
  <tr>
    <th>Top Customers</th>
  </tr>
  <tr>
    <td>
      <%= link_to "most sales product by quantity", top_customers_path(1), class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "most sales product by price", top_customers_path(2), class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "most booked order of product", top_customers_path(3), class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "most canceled order of product", top_customers_path(4), class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
</table>
