<div class="container w-50">
  <%= form_with model: order do |form| %>
    <%= render "error" %>
    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :quantity, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.number_field :quantity, min: 0, class: "form-control" %>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :commodity, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <% puts @commodities %>
        <%= form.select :commodity_id, @commodities.map{ |name| [name.title, name.id]}, { include_blank: "Select Commodity" }, { class: "form-select form-select-sm me-3" } %><br>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :customer, class: "form-label" %>
      </div>
        <div class="col-6 col-sm-3">
        <%= form.select :customer_id, @customers.map{ |name| ["#{name.first_name} #{name.last_name}", name.id]}, { include_blank: "Select Customer" }, { class: "form-select form-select-sm me-3" } %><br>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :status, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.select :status, Order::statuses.keys.map{ |key| [key, key] }, { include_blank: "Select Option", selected: @order.status } , {class: "form-select form-select-sm me-3"} %>
      </div>
    </div>

    <div class="w-25 m-auto">
      <%= form.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>
