<br>
<div class="d-flex justify-content-evenly">
  <%= render "dropdown" %>
  <%= render "search" %>
</div>
<h1 class="text-center">Orders</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Index</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>Status</th>
    <th>Product Name</th>
    <th>Customer Name</th>
    <th>Action</th>
  </tr>
  <% @orders.each_with_index do |order, inx| %>
    <tr>
      <td><%= link_to inx+1, order %></td>
      <td><%= order.quantity %></td>
      <td><%= order.total_price %></td>
      <td>
       <% if order.status == "Booked" %>
        <i class='bi bi-circle-fill' style="color: rgb(102, 255, 102); padding: 5px;"></i>
      <% else%>
        <i class='bi bi-circle-fill' style="color: rgb(255, 0, 0); padding: 5px;"></i>
      <% end %>
      <%= order.status %></td>
      <td><%= commodity_name(order.commodity_id).title %></td>
      <td><%= "#{order.customer.first_name} #{order.customer.last_name}" %></td>
      <td><%= link_to 'Edit', edit_order_path(order), class: "text-decoration-none text-dark btn btn-warning me-2" %>
      <%= link_to "Destroy", order_path(order), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none text-light btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<br>

<div class="w-50 mx-auto d-flex justify-content-between p-2">
  <%= link_to "Customers", customers_path, class: "text-decoration-none text-light btn btn-info" %>
  <%= link_to "New Order", new_order_path, class: "text-decoration-none text-light btn btn-info" %>
  <%= link_to "Commodities", commodities_path, class: "text-decoration-none text-light btn btn-info" %>
</div>

<br><br><br>
