<h1 class="text-center m-4 h1">Order</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Commodity Name</th>
    <th>Status</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  <tr>
    <td><%= @order.commodity.title %></td>
    <td>
      <div class="d-inline badge text-dark">
          <% if @order.status == "Booked" %>
            <i class='bi bi-circle-fill success'></i>
          <% else %>
            <i class='bi bi-circle-fill danger'></i>
          <% end %>
          <%= @order.status %>
        </div>
      </td>
    <td><%= @order.quantity %></td>
    <td><%= @order.total_price %></td>
  </tr>
</table>
<br><br><br>
<h1 class="text-center m-4 h1">Customer Details</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <tr>
    <td><%= @customer.first_name %></td>
    <td><%= @customer.last_name %></td>
    <td><%= @customer.email %></td>
    <td><%= @customer.phone_number %></td>
  </tr>
</table>
