<div class="container w-50">
  <%= form_with model: commodity do |form| %>
    <%= render "error" %>
    <div class="row py-3">
      <div class="col-6 col-sm-3">
        <%= form.label :title, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :description, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.text_area :description, class: "form-control" %><br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :price, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.number_field :price, class: "form-control" %><br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :capacity, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.number_field :capacity, min: 0, class: "form-control" %><br>
      </div>
    </div> 

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :is_active, class: "form-check-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.radio_button :is_active, true, class: "form-check-input" %>True
        <%= form.radio_button :is_active, false, class: "form-check-input" %>False<br>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-6 col-sm-3">
        <%= form.label :status, class: "form-label" %>
      </div>
      <div class="col-6 col-sm-3">
        <%= form.select :status, Commodity::statuses.keys.map{ |key| [key, key] }, {selected: @commodity.status || "In Stock" } , {class: "form-select form-select-sm me-3"} %>
      </div>
    </div>

    <div class="w-25 m-auto">
      <%= form.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>